<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAFile" value="C://Users//Javier//.netbeans//7.1.2//config//GF3//domain1//tmsite//da//da.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\MSSQLSERVER;Initial Catalog=Prueba;User Id=sa;Password=12345;"/>
  </connectionStrings>
</configuration>
