<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAFile" value="C://Users//Javier//.netbeans//7.1.2//config//GF3//domain1//tmsite//da//da2.xml"/>
    <add key="Empresa" value="0"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=SIA2;User Id=sa;Password=12345;"/>
  </connectionStrings>
</configuration>
