<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAFile" value="da2.xml"/>
    <add key="Empresa" value="0"/>
    <add key="Esquema" value=""/>
  </appSettings>
  <connectionStrings>
	  <!-- add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=SIA3;User Id=sa;Password=12345;"/> -->
	  <add name="ConnectionString" connectionString="Data Source=Carlos-PC;Initial Catalog=SIA3;User Id=proyecto;Password=Proyecto123;"/>
  </connectionStrings>
</configuration>
